.hero {
  width: 100vw;
  height: 90vh;
  max-height: -webkit-fill-available;
  background-image: url('../assets/louis-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.hero-text {
  z-index: 2;
  text-align: center;
}

.hero-name {
  font-size: 3.5rem;
  line-height: 1;
  margin: 0;
  text-align: left;
}

.name-bold {
  font-family: 'Anton', sans-serif;
  color: white;
}

.name-outline {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px white;
}

/* Tablets e acima */
@media (min-width: 601px) {
  .hero {
    padding: 40px;
  }

  .hero-name {
    font-size: 5rem;
    text-align: center;
  }

  .name-outline {
    -webkit-text-stroke: 1px white;
  }
}

/* Telas grandes (ex: 24' desktop) */
@media (min-width: 1025px) {
  .hero {
    padding: 60px;
    width: 99.2vw;
    height: 100vh;
  }

  .hero-name {
    font-size: 7rem;
    line-height: 0.8;
    text-align: left;
  }
}
