@import url('https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@300;400;700&display=swap');

.hero{
    position: relative;
    text-align: center;
    justify-content: center;
}

.hero-name {
  font-size: 4rem;
  line-height: 1.1;
  text-align: left;
}

.name-bold {
  font-family: 'Anton', sans-serif;
  color: black;
}

.name-outline {
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  color: transparent;
  -webkit-text-stroke: 1px black;
}
